
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: hsla(0, 14%, 95%, 1);
}

button, input, textarea {
    border: 1px solid hsla(248, 53%, 58%, 0.5);
    border-radius: 20px;
    resize: none;
    padding: 5px;
}

button{
    background-color: hsl(248, 53%, 58%);
    color: hsl(0, 0%, 100%);
}

input::placeholder{
    color: black;
    opacity: 1;
    padding: 75px;
    font-weight: 500;
    font-size: 15px;
}

/* header component styling begins */

header {
    width: 100%;
    height: 90px;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

header div.logo {
    width: 20%;
    height: 100%;
    font-family: "Playfair Display", serif;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 30px;
    font-weight: 400;
}

header div.HeaderLink{
    width: 60%;
    height: 100%;
}

header div.HeaderLink ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.HeaderLink li.Home{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

.HeaderLink li.Home a{
    font-size: 20px;
    font-weight: 500;
    color: black;   
}

.HeaderLink li.SearchBox{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.HeaderLink li input{
    width: 100%;
    height: 70%;
    border: 2px solid hsla(248, 53%, 58%, 0.5);
    background-color: hsla(0, 14%, 95%, 1);
    background-image: url("./assets/search.svg");
    background-repeat:  no-repeat;
    background-size: 15px 15px;
    background-position: 85% 50%;
    padding: 15px;
}

.HeaderLink li.CartButton{
    width: 12%;
    height: 70%;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #6a5bcd;
    background-color: #6a5bcd;
    border-radius: 20px;
}

.HeaderLink li.CartButton a{
    color: #ffffff;
}

/* header component styling ends  */

/* ProductListing page styling begins  */

div.background{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(0deg, hsla(248, 53%, 58%, 0.5), hsla(248, 53%, 58%, 0.5)), url("./assets/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.greetings{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    text-align: center;
}

div.greetings h1{
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 96px;
    text-align: left;
    margin-bottom: 20px;
}

div.greetings p{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

/* ProductListing page styling ends  */

/* BookCategory and Book component styling begins  */

div.BookOptions{
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

select{
    width: 14%;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    border: 1px solid #6a5bcd;
    background-color: #6a5bcd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("./assets/dropdown.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
    border-radius: 20px;
    padding: 5px 10px;
}

.BookOptions .book{
    width: 100%;
    height: 400px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.BookOptions div h2{
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin: 40px 0;
}

.BookOptions .book Button{
    width: 100px;
    font-size: 18px;
    color: hsl(0, 0%, 100%);
    background-color: #6a5bcd;
    border: 1px solid #6a5bcd;
    border-radius: 20px;
    padding: 5px 0;
}

.book .book-img{
    width: 100%;
    height: 70%;
}

.book .book-img img{
    width: 100%;
    height: 100%;
}

.book .book-title{
    color: #6A5ACD;
    height: 10%;
    padding: 10px 0;
}

.book .book-price{
    height: 7%;
    padding-bottom: 5px;
}

div.fiction, div.business, div.bestselling{
    display: grid;
    grid-template-columns: repeat(4, 270px);  
    align-items: center;
    justify-content: center;
    gap: 40px;
}

/* BookCategory and Book component styling ends */

div h6.heading{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: hsl(248, 53%, 58%);
    margin: 10px auto;
}

div.OrderDetails{
    padding: 20px;
    margin: 0 auto 40px;
}

div.OrderDetails p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;

}

div.OrderDetails p span{
    font-weight: 500;
    font-size: 20px;
}

div.OrderDetails Button{
    background-color: hsl(248, 53%, 58%);
    color: hsl(0, 0%, 100%);
    margin: 10px 0;
    padding: 10px 20px;
}

div.Checkout{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
}

div.CustomerLogin{
    text-align: center;
}

div.CustomerLogin p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

div.CustomerLogin p a{
    color: hsl(248, 53%, 58%);
}

div.Checkout{
    font-family: "Inter", sans-serif;
}

div.Checkout div.BillingDetails{
    border-top: 3px solid hsl(204, 16%, 65%);
    margin: 0 40px 40px;
}

div.BillingDetails h6.heading, div.Order h6.heading{
    color: hsl(0, 0%, 0%);
    font-weight: 600;
    font-size: 14px;
    text-align: left;
}

div.BillingDetails div.Name {
    display: flex;
    flex-direction: row;
}

div.BillingDetails div.Name span{
    color: hsl(248, 53%, 58%);;
}

div.BillingDetails div.Name div input{
    width: 297px;
    margin-right: 5px;
}

div.BillingDetails label{
    display: block;
    margin: 10px 0 5px;
    width: 300px;
    font-size: 10px;
    font-weight: 500;
}

div.BillingDetails input, div.BillingDetails textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: hsla(0, 14%, 95%, 1);
}

div.BillingDetails textarea {
    height: 100px;
}

div.Checkout div.Order{
    border: 2px solid hsl(248, 53%, 58%);
    border-radius: 20px;
    margin: 0 40px 40px;
    padding: 20px 40px;
    height: 500px;
    width: 300px;
}


div.Bills{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid hsl(203, 17%, 65%);
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
}

div.Bills p.head{
    font-weight: 500;
    font-size: 12px;
}

div.Bills p.price{
    font-weight: 600;
    font-size: 10px;
}

div.Bills p.golden{
    font-weight: 500;
    font-size: 12px;
    color: hsl(248, 53%, 58%);
}

div.Bills p.sub{
    font-weight: 500;
    font-size: 10px;
}

div.Bills p.golden span{
    color: black;
    font-size: smaller;
    font-size: 10px;
    font-weight: 400;
}

div.Order .PayStack{
    font-weight: 600;
}

div.Order p.Policy, p.note{
    font-size: 10px;
    font-weight: 500;
}

div.Order p.note{
    text-align: center;
}

div.Order p.Secure{
    margin: 0;
    text-align: center;
}

div.Order span.Secured {
    font-weight: 500;
}

div.Order Button{
    width: 100%;
}

div.PaymentMethod{
    background-color: hsl(0, 0%, 100%);
    border: 2px solid hsl(203, 17%, 65%);
    margin-top: 0;
    height: 70px;
}

div.PaymentMethod ul{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

div.PaymentMethod ul li{
    width: 50px;
    align-items: center;

}

div.Cart{
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px;
    padding: 20px 0;
}

div.ShoppingCart h6.ShoppingCart a, div.ShoppingCart h6.ShoppingCart {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: hsl(248, 53%, 58%);
}

div.ShoppingCart h6{
    justify-content: space-between;
    margin: 50px 0 0 0;
}

div.ShoppingCart span{
    color: hsla(204, 16%, 65%, 1);
}

div.Products{
    margin: 0;
}

div.Product{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 20px;
}


div.Product h6, div.CartHead h6{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 4px solid hsla(204, 16%, 65%, 1);
    margin-bottom: 20px;
}

.Price{
    padding-left: 20px;
}

div.BookCover{
    position: relative;
}
h6.UserChioce, div.BookCover{
    width: 230px;
}
div.BookCover img{
    height: 111px;
    width: 83px;
    margin: 0 0 40px 10px;
}
div.BookCover img.CancelButton{
    height: 35px;
    width: 35px;
    position: absolute;
    top: -15px;
    left: -33px;
}

div.BookCover span{
    color: hsl(248, 53%, 58%);
    position: absolute;
    top: 15px;
    right: 2px;
}

div.CounterContainer {
    display: flex;
    justify-content: center;
}

div.number {
    height: 32px;
    width: 23px;
    display: flex;
    padding: 10px 0 0;
    justify-content: center;
    border: 1px solid hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 100%);
}

div.MinusButton, div.PlusButton{
    height: 32px;
    width: 17px;
    display: flex;
    padding: 10px 0 0;
    justify-content: center;
    border: 1px solid hsl(0, 0%, 0%);
    background-color: hsl(251, 47%, 76%);
}

div.MinusButton{
    border-right: none;
}

div.PlusButton{
    border-left: none;
}

div.Button{
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
}

div.Button button{
    font-size: 24px;
    font-weight: 600;
    padding: 10px;
}

div.VeritalLine{
    border-left: 3px solid hsla(248, 53%, 58%, 0.5);
}

div.Products div.Button div.white Button{
    background-color: white;
    color: hsl(248, 53%, 58%);
}

div.CartTotal{
    margin: 0 10px;
    padding: 0 10px;
}

div.CartTotal div.Button button{
    height: 49px;
    width: 516px;
}

div.CartHead h6{
    border: none;
}

div.CartItems div.SubItems{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(204, 16%, 65%);
}

p.detail{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

p.bill, div.CounterContainer, p.Price, div.BookCover span{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

/* footer component styling begins */

footer{
    width: 100%;
    height: 70vh;
    background-color: hsl(248, 53%, 58%);
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    justify-content: space-evenly;
    padding: 40px;
    gap: 20px;
}

footer h4.title{
    font-size: 30px;
    font-weight: 600;
}

footer p.Content{
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}

.About div.SocialSection ul{
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 10px;
}

.About .SocialIcon{
    width: 20px;
}

.About .SocialIcon img{
    width: 100%;
}

footer .ButtonSection button{
    width: 100px;
    font-size: 15px;
    font-weight: 600;
    color: hsl(248, 53%, 58%);
    background-color: hsl(0, 0%, 100%);
    padding: 10px 0;
}

footer .Contact{
    display: grid;
    justify-content: right;
}

/* footer component styling ends */


/* media query begins */

@media screen and (max-width: 480px) {
    
    input::placeholder{
        padding: 10px;
        font-size: 8px;
    }

    /* header component styling begins */

    header{
        width: 100%;
        height: 90px;
    }

    header div.logo {
        font-size: 15px;
    }

    .HeaderLink li.Home a{
        font-size: 10px;  
    }

    .HeaderLink li.SearchBox{
        width: 50%;
    }

    .HeaderLink li.CartButton{
        width: 20%;
        height: 50%;
        font-size: 10px;
    }

    /* header component styling begins */

    /* ProductListing page styling begins  */

    div.background{
        width: 100%;
        height: 70vh;
    }

    div.greetings h1{
        font-size: 32px;
    }

    div.greetings p{
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 10px;
    }

    /* ProductListing page styling begins  */

    /* BookCategory and Book component styling begins */

    div.BookOptions{
        width: 100%;
    }

    select{
        width: 20%;
    }

    .BookOptions .book{
        height: 250px;
        font-size: 10px;
    }

    .BookOptions div h2{
        font-size: 20px;
    }

    .BookOptions .book Button{
        width: 70px;
        font-size: 10px;
    }

    .book .book-title{
        font-size: 12px;
    }

    div.fiction, div.business, div.bestselling{
        grid-template-columns: repeat(2, 175px);  
        gap: 40px;
    }

    /* BookCategory and Book component styling ends */

    footer{
        height: 90vh;
        grid-template-columns: repeat(1, 350px);
        justify-content: space-evenly;
        padding: 40px 20px;
        gap: 20px;
    }

    footer h4.title{
        font-size: 18px;
    }

    footer p.Content{
        font-size: 12px;
        margin-bottom: 10px;
    }

    .About div.SocialSection ul{
        display: flex;
        align-items: center;
        font-size: 16px;
        gap: 10px;
    }

    footer .ButtonSection button{
        width: 70px;
        font-size: 10px;
    }

    footer .Contact{
        display: flex;
        justify-content: left;
        gap: 20px;
    }

  }

/* media query ends */