
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: #f4f0f0;
}

button, input, textarea {
    border: 1px solid #6a5bcd80;
    border-radius: 20px;
    padding: 5px;
}

button{
    background-color: hsl(248, 53%, 58%);
    color: hsl(0, 0%, 100%);
}

input::placeholder{
    color: black;
    opacity: 1;
    padding: 75px;
    font-weight: 500;
    font-size: 15px;
}

/* header component styling begins */

header {
    width: 100%;
    height: 90px;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

header div.logo {
    width: 20%;
    height: 100%;
    font-family: "Playfair Display", serif;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 30px;
    font-weight: 400;
}

header div.HeaderLink{
    width: 60%;
    height: 100%;
}

header div.HeaderLink ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.HeaderLink li.Home{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

.HeaderLink li.Home a{
    font-size: 20px;
    font-weight: 500;
    color: black;   
}

.HeaderLink li.SearchBox{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.HeaderLink li input{
    width: 100%;
    height: 70%;
    border: 2px solid hsla(248, 53%, 58%, 0.5);
    background-color: hsla(0, 14%, 95%, 1);
    background-image: url("./assets/search.svg");
    background-repeat:  no-repeat;
    background-size: 15px 15px;
    background-position: 85% 50%;
    padding: 15px;
}

.HeaderLink li.CartButton{
    width: 12%;
    height: 70%;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #6a5bcd;
    background-color: #6a5bcd;
    border-radius: 20px;
}

.HeaderLink li.CartButton a{
    color: #ffffff;
}

/* header component styling ends  */

/* ProductListing page styling begins  */

div.background{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(0deg, hsla(248, 53%, 58%, 0.5), hsla(248, 53%, 58%, 0.5)), url("./assets/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.greetings{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    text-align: center;
}

div.greetings h1{
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 96px;
    text-align: left;
    margin-bottom: 20px;
}

div.greetings p{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

/* ProductListing page styling ends  */

/* BookCategory and Book component styling begins  */

div.BookOptions{
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.BookOptions select{
    width: 14%;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    border: 1px solid #6a5bcd;
    background-color: #6a5bcd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("./assets/dropdown.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
    border-radius: 20px;
    padding: 5px 10px;
}

.BookOptions option{
    background-color: #f4f0f0;
    border: 1px solid #f4f0f0;
    color: black;
}

.BookOptions .book{
    width: 100%;
    height: 400px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.BookOptions div h2{
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin: 40px 0;
}

.BookOptions .book Button{
    width: 100px;
    font-size: 18px;
    color: hsl(0, 0%, 100%);
    background-color: #6a5bcd;
    border: 1px solid #6a5bcd;
    border-radius: 20px;
    padding: 5px 0;
}

.book .book-img{
    width: 100%;
    height: 70%;
}

.book .book-img img{
    width: 100%;
    height: 100%;
}

.book .book-title{
    color: #6A5ACD;
    height: 10%;
    padding: 10px 0;
}

.book .book-price{
    height: 7%;
    padding-bottom: 5px;
}

div.fiction, div.business, div.bestselling{
    display: grid;
    grid-template-columns: repeat(4, 270px);  
    align-items: center;
    justify-content: center;
    gap: 40px;
}

/* BookCategory and Book component styling ends */

/* Cart page and ShoppingCart component styling begins */

div.Carts{
    width: 100%;
    height: 70vh;
}

.Carts div.ShoppingCart{
    text-align: center;
}

.Carts div.ShoppingCart a, div.ShoppingCart .greater{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #6A5ACD;
}

.Carts div.ShoppingCart span.CheckOut{
    color: #99AAB5;
}

div.Cart{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
}

.Cart span{
    color: #97a9b4;
}
.Cart div.ShoppingCart span.greater{
    color: #6a5bcd;
}

.Cart .Products{
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 3px solid #6A5ACD80;
    padding: 0 15px;
}

.Products .ProductHead{
    width: 100%; 
    height: 20%;
}

.ProductHead ul{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    border-bottom: 4px solid #99AAB5;
}


.ProductHead li.UserChioce, .Product li.UserBook{
    width: 40%;
}

.Price, .Quantity, .CounterContainer{
    width: 20%;
}

.Products .Product{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #6A5ACD80;
}

.Product ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Product .UserBook{
    height: 100%;
    display: flex;
    gap: 10px;
}

.UserBook .SelectBook{
    width: 50%;
    display: flex;
    position: relative;
}

.UserBook img{
    width: 100%;
    height: 100%;
}

.UserBook .CancelButton{
    width: 30px;
    height: 30px;
    z-index: 10;
}

.UserBook .BookCover{
    width: 82px;
    height: 111px;
    top: 17px;
    left: 27px;
    position: absolute;
}

.UserBook span{
    font-size: 14px;
    font-weight: 500;
    color: #6A5ACD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Product .Price{
    font-size: 14px;
    font-weight: 600;
}

.Product .Quantity{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Product .CounterContainer{
    width: 53px;
    height: 32px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #AFA4DE;
}

.CounterContainer .MinusButton, .CounterContainer .PlusButton{
    width: 17px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #AFA4DE;
    background-color: #AFA4DE;
}

.CounterContainer .number{
    width: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.Products .Button{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Products .Button Button{
    font-size: 24px;
    font-weight: 600;
    padding: 5px 10px;
}

.Products .white Button{
    background-color: #FFFFFF;
    color: #6A5ACD;
}

.Cart .CartTotal{
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.CartTotal .CartHead{
    width: 100%; 
    height: 20%;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    display: flex;
    align-items: center;
}

.CartTotal .CartItems{
    width: 100%;
    height: 40%;
}

.CartItems .SubItems{
    height: 33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #99AAB5;
}

.SubItems .detail{
    font-size: 18px;
    font-weight: 500;
}

.SubItems .bill{
    font-size: 14px;
    font-weight: 600;
}

.CartTotal .Button{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CartTotal .Button Button{
    width: 516px;
    font-size: 24px;
    font-weight: 600;
    padding: 5px 10px;
}

/* Cart page and ShoppingCart component styling ends */

/* CheckOut page styling begins */

h2.heading{
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
}

div.CustomerLogin{
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin: 20px 0;
}

.CustomerLogin div.ShoppingCart{
    text-align: center;
}

.CustomerLogin div.ShoppingCart a, div.ShoppingCart .greater{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #99AAB5;
}

.CustomerLogin div.ShoppingCart span.CheckOut{
    color: #6A5ACD;
}

div.CustomerLogin a{
    color: #6A5ACD;
}

div.Checkout{
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    font-family: "Inter", sans-serif;
}

.Checkout .BillingDetails{
    width: 50%;
    height: 100%;
    padding: 20px 40px;
    padding-left: 0;
    border-top: 3px solid #99AAB5;
}

.BillingDetails .Name{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.BillingDetails label{
    font-size: 10px;
    font-weight: 500;
}

.BillingDetails .Name span{
    color: #6A5ACD;
}

.BillingDetails .First, .BillingDetails .Last{
    width: 50%;
}

.BillingDetails input, textarea{
    width: 100%;
    margin: 10px 0;
    background-color: #FFFFFF;
}

.BillingDetails textarea{
    height: 126px;
}

.Checkout .Order{
    width: 30%;
    height: 75%;
    border: 2px solid #6A5ACD;
    border-radius: 20px;
    padding: 20px 40px;
}

.Checkout .Bills{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #99AAB5;
    padding: 10px 0;
}

.Bills .head{
    font-size: 12px;
    font-weight: 500;
}

.Bills .sub, .Bills .golden{
    font-size: 10px;
    font-weight: 500;
}

.Bills .golden span{
    font-weight: 400;

}

.Bills .price{
    font-size: 10px;
    font-weight: 600;
}

.Bills .golden{
    color: #6A5ACD;
}

.Bills .golden span{
    font-weight: 400;
    color: #292F33;
}

.Checkout .PayStackNote{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.PayStackNote .PayStack{
    font-size: 10px;
    font-weight: 600;
}

.PayStackNote .Secure, .Order .note{
    text-align: center;
}

.PayStackNote .Secured, .Order .note{
    font-size: 10px;
    font-weight: 500;
}

.Order .PaymentMethod{
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}

.PaymentMethod ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #6A5ACD;
}

.Order Button{
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    margin: 20px 0;
}

.Order .Policy{
    font-size: 10px;
    font-weight: 500;
}

/* CheckOut page styling ends */

/* CheckOutDetails page styling begins */

.CheckOutDetails {
    width: 100%;
    height: 75vh;
    font-family: "Inter", sans-serif;
    padding: 0 40px;
}

.CheckOutDetails .OrderHeading{
    width: 100%;
    height: 20%;
    font-size: 40px;
    font-weight: 600;
    color: #6A5ACD;
    text-align: center;
}

.CheckOutDetails .OrderDetails{
    width: 80%;
    height: 70%;
}

.OrderDetails p{
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 15px;

}

.OrderDetails p span{
    font-weight: 500;
    font-size: 20px;
}

div.OrderDetails Button{
    font-size: 24px;
    font-weight: 600;
    background-color: #6a5bcd;
    color: #ffffff;
    margin: 10px 0;
    padding: 10px 20px;
}

/* CheckOutDetails page styling ends */

/* footer component styling begins */

footer{
    width: 100%;
    height: 70vh;
    background-color: hsl(248, 53%, 58%);
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    justify-content: space-evenly;
    padding: 40px;
    gap: 20px;
}

footer h4.title{
    font-size: 30px;
    font-weight: 600;
}

footer p.Content{
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}

.About div.SocialSection ul{
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 10px;
}

.About .SocialIcon{
    width: 20px;
}

.About .SocialIcon img{
    width: 100%;
}

footer .ButtonSection button{
    width: 100px;
    font-size: 15px;
    font-weight: 600;
    color: hsl(248, 53%, 58%);
    background-color: hsl(0, 0%, 100%);
    padding: 10px 0;
}

footer .Contact{
    display: grid;
    justify-content: right;
}

/* footer component styling ends */


/* media query begins */

@media screen and (max-width: 480px) {
    
    input::placeholder{
        padding: 10px;
        font-size: 8px;
    }

    /* header component styling begins */

    header{
        width: 100%;
        height: 90px;
    }

    header div.logo {
        font-size: 15px;
    }

    .HeaderLink li.Home a{
        font-size: 10px;  
    }

    .HeaderLink li.SearchBox{
        width: 50%;
    }

    .HeaderLink li.CartButton{
        width: 20%;
        height: 50%;
        font-size: 10px;
    }

    /* header component styling begins */

    /* ProductListing page styling begins  */

    div.background{
        width: 100%;
        height: 70vh;
    }

    div.greetings h1{
        font-size: 32px;
    }

    div.greetings p{
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 10px;
    }

    /* ProductListing page styling begins  */

    /* BookCategory and Book component styling begins */

    div.BookOptions{
        width: 100%;
    }

    .BookOptions select{
        width: 20%;
        font-size: 10px;
        background-position: right 5px center;
    }

    .BookOptions .book{
        height: 250px;
        font-size: 10px;
    }

    .BookOptions div h2{
        font-size: 20px;
    }

    .BookOptions .book Button{
        width: 70px;
        font-size: 10px;
    }

    .book .book-title{
        font-size: 12px;
    }

    div.fiction, div.business, div.bestselling{
        grid-template-columns: repeat(2, 175px);  
        gap: 40px;
    }

    /* BookCategory and Book component styling ends */

    /* Cart page and ShoppingCart component styling begins */

    div.Carts{
        width: 100%;
        height: 150vh;
    }

    .Carts div.ShoppingCart a, div.ShoppingCart .greater {
        width: 100%;
        font-size: 24px;
        color: #6a5bcd;
    }

    .Carts div.ShoppingCart span.greater, .Carts div.ShoppingCart span.CheckOut{
        display: none;
    }

    div.Cart{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
    }

    .Cart .Products{
        width: 100%;
        height: 50%;
        padding: 0 15px;
        justify-content: flex-start;
        align-items: stretch;
    }

    .Products .ProductHead{
        height: 20%;
    }

    .ProductHead ul{
        width: 100%;
        height: 100%;
        font-size: 12px;
        font-weight: 600;
        padding: 0;
    }

    .ProductHead li.UserChioce, .Product li.UserBook{
        width: 50%;
    }

    .Quantity{
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .ProductHead .Price, .Product .Price{
        display: none;
    }

    .Products .Product{
        width: 100%;
        height: 50%;
    }

    .Product ul{
        height: 100%;
    }

    .Product .UserBook{
        height: 100%;
        display: flex;
        gap: 10px;
        padding-top: 5px;
    }

    .UserBook img{
        width: 100%;
        height: 100%;
    }

    .UserBook .CancelButton{
        width: 24px;
        height: 23px;
        z-index: 10;
    }

    .UserBook .BookCover{
        width: 82px;
        height: 101px;
        top: 10px;
        left: 20px;
        position: absolute;
    }

    .UserBook span{
        font-size: 12px;
    }

    .Products .Button Button{
        font-size: 12px;
        font-weight: 600;
        padding: 5px 10px;
    }

    .Cart .CartTotal{
        width: 100%;
        height: 50%;
        display: flex;
        padding: 0 15px;
    }
    
    .CartTotal .CartHead{
        font-size: 24px;
        justify-content: center;
        border-bottom: 2px solid  #99AAB5;
    }

    .SubItems .detail{
        font-size: 12px;
    }
    
    .SubItems .bill{
        font-size: 10px;
    }

    .CartTotal .Button Button{
        width: 388px;
        font-size: 14px;
    }

    /* Cart page and ShoppingCart component styling ends */

    /* CheckOut page styling begins */

    .CustomerLogin div.ShoppingCart a, div.ShoppingCart .greater {
        width: 100%;
        font-size: 24px;
        color: #6a5bcd;
    }
    
    .CustomerLogin div.ShoppingCart span.greater, .CustomerLogin div.ShoppingCart span.ShoppingCart{
        display: none;
    }    

    h2.heading{
        font-size: 12px;
    }
    
    div.CustomerLogin{
        height: 70px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 10px;
        margin: 20px 0;
    }

    div.Checkout{
        width: 100%;
        height: 290vh;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px;
        gap: 10px;
    }

    .Checkout .BillingDetails{
        width: 100%;
        height: 50%;
    }

    .BillingDetails .Name{
        flex-direction: column;
    }

    .BillingDetails .First, .BillingDetails .Last{
        width: 100%;
    }

    .Checkout .Order{
        width: 90%;
        height: 37%;
        border: 2px solid #6A5ACD;
        border-radius: 20px;
        padding: 20px 40px;
    }

    /* CheckOut page styling ends */

    /* CheckOutDetails page styling begins */

    .CheckOutDetails {
        width: 100%;
        height: 100vh;
    }

    .CheckOutDetails .OrderHeading{
        width: 100%;
        font-size: 24px;
    }

    .OrderDetails p{
        font-size: 14px;
    
    }
    
    .OrderDetails p span{
        font-size: 14px;
    }

    div.OrderDetails Button{
        font-size: 14px;
        font-weight: 600;
    }

    /* CheckOutDetails page styling ends */

    footer{
        height: 100vh;
        grid-template-columns: repeat(1, 350px);
        justify-content: space-evenly;
        padding: 20px;
        gap: 20px;
    }

    footer .About, footer .Join, footer .Contact{
        height: 150px;
    }

    footer h4.title{
        font-size: 18px;
    }

    footer p.Content{
        font-size: 12px;
        margin-bottom: 10px;
    }

    .About div.SocialSection ul{
        display: flex;
        align-items: center;
        font-size: 16px;
        gap: 10px;
    }

    footer .ButtonSection button{
        width: 70px;
        font-size: 10px;
    }

    footer .Contact{
        display: flex;
        justify-content: left;
        gap: 20px;
    }

  }

/* media query ends */