
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



body{
    background-color: hsla(0, 14%, 95%, 1);
    text-decoration: none;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

button, input, select, textarea {
    border: 1px solid hsla(248, 53%, 58%, 0.5);
    border-radius: 20px;
    resize: none;
    padding: 5px;
}
button{
    background-color: hsl(248, 53%, 58%);
    color: hsl(0, 0%, 100%);
}

input::placeholder{
    color: black;
    opacity: 1;
    padding: 75px;
    font-weight: 500;
    font-size: 15px;
}

header {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 45px;
    position: relative;
}


header div.logo {
    font-family: "Playfair Display", serif;
    display: flex;
    align-items: center;
    font-size: 24px;
}

header div.logo span{
    font-weight: 400;
    font-size: 30px;
}


header div.logo img{
        height: 40px; 
        margin: 0;
}

header div.HeaderLink ul{
    display: flex;
    justify-content: space-between;
}

header div.HeaderLink ul li{
    margin: 0 50px;
    font-family: "Inter", sans-serif;
}

header div.HeaderLink ul li.Home{
    font-size: 20px;
    font-weight: 500;
}

header div.HeaderLink ul li.CartButton{
    font-size: 18px;
    font-weight: 500;
}

header div.HeaderLink ul li input{
    border: 1px solid hsla(248, 53%, 58%, 0.5);
    background-color: hsla(0, 14%, 95%, 1);
    background-image: url("./assets/search.svg");
    background-repeat:  no-repeat;
    background-size: 15px 15px;
    background-position: 85% 50%;
    padding: 20px;
    width: 300px;
    padding: 5px;
}

header div.HeaderLink ul li a{
    color: black;
}

header div.HeaderLink ul li button{
    background-color: hsl(248, 53%, 58%);
    padding: 3px 15px;
}
header div.HeaderLink ul li button a{
    color: hsl(0, 0%, 100%);
}

div.background{
    position: relative;
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 653px;
    margin-bottom: 20px;
}

div.background::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(248, 53%, 58%, 0.5);
}

div.greetings{
    position: relative;
    z-index: 1;
    color: hsl(0, 0%, 100%);
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

div.greetings h1{
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 96px;
    /* width: 550px; */
}

div.greetings p{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    right: 500px;
}

div.BookOptions{
    padding: 20px;
    margin: 0 auto;
}

select{
    background-color: hsl(248, 53%, 58%);
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

div h6{
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    font-weight: 500;
    justify-content: space-between;
    margin: 0;
}

div.book{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    margin: 10px;
}
div.book Button{
    background-color: hsl(248, 53%, 58%);
    color: hsl(0, 0%, 100%);
    padding: 10px;
}

div.book img{
    width: 270px;
    height: 350px;
}

div.fiction, div.business, div.bestselling{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

div h6.heading{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: hsl(248, 53%, 58%);
    margin: 10px auto;
}

div.OrderDetails{
    padding: 20px;
    margin: 0 auto 40px;
}

div.OrderDetails p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;

}

div.OrderDetails p span{
    font-weight: 500;
    font-size: 20px;
}

div.OrderDetails Button{
    background-color: hsl(248, 53%, 58%);
    color: hsl(0, 0%, 100%);
    margin: 10px 0;
    padding: 10px 20px;
}

div.Checkout{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
}

div.CustomerLogin{
    text-align: center;
}

div.CustomerLogin p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

div.CustomerLogin p a{
    color: hsl(248, 53%, 58%);
}

div.Checkout{
    font-family: "Inter", sans-serif;
}

div.Checkout div.BillingDetails{
    border-top: 3px solid hsl(204, 16%, 65%);
    margin: 0 40px 40px;
}

div.BillingDetails h6.heading, div.Order h6.heading{
    color: hsl(0, 0%, 0%);
    font-weight: 600;
    font-size: 14px;
    text-align: left;
}

div.BillingDetails div.Name {
    display: flex;
    flex-direction: row;
}

div.BillingDetails div.Name span{
    color: hsl(248, 53%, 58%);;
}

div.BillingDetails div.Name div input{
    width: 297px;
    margin-right: 5px;
}

div.BillingDetails label{
    display: block;
    margin: 10px 0 5px;
    width: 300px;
    font-size: 10px;
    font-weight: 500;
}

div.BillingDetails input, div.BillingDetails textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: hsla(0, 14%, 95%, 1);
}

div.BillingDetails textarea {
    height: 100px;
}

div.Checkout div.Order{
    border: 2px solid hsl(248, 53%, 58%);
    border-radius: 20px;
    margin: 0 40px 40px;
    padding: 20px 40px;
    height: 500px;
    width: 300px;
}


div.Bills{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid hsl(203, 17%, 65%);
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
}

div.Bills p.head{
    font-weight: 500;
    font-size: 12px;
}

div.Bills p.price{
    font-weight: 600;
    font-size: 10px;
}

div.Bills p.golden{
    font-weight: 500;
    font-size: 12px;
    color: hsl(248, 53%, 58%);
}

div.Bills p.sub{
    font-weight: 500;
    font-size: 10px;
}

div.Bills p.golden span{
    color: black;
    font-size: smaller;
    font-size: 10px;
    font-weight: 400;
}

div.Order .PayStack{
    font-weight: 600;
}

div.Order p.Policy, p.note{
    font-size: 10px;
    font-weight: 500;
}

div.Order p.note{
    text-align: center;
}

div.Order p.Secure{
    margin: 0;
    text-align: center;
}

div.Order span.Secured {
    font-weight: 500;
}

div.Order Button{
    width: 100%;
}

div.PaymentMethod{
    background-color: hsl(0, 0%, 100%);
    border: 2px solid hsl(203, 17%, 65%);
    margin-top: 0;
    height: 70px;
}

div.PaymentMethod ul{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

div.PaymentMethod ul li{
    width: 50px;
    align-items: center;

}

div.Cart{
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px;
    padding: 20px 0;
}

div.ShoppingCart h6.ShoppingCart a, div.ShoppingCart h6.ShoppingCart {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: hsl(248, 53%, 58%);
}

div.ShoppingCart h6{
    justify-content: space-between;
    margin: 50px 0 0 0;
}

div.ShoppingCart span{
    color: hsla(204, 16%, 65%, 1);
}

div.Products{
    margin: 0;
}

div.Product{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 20px;
}


div.Product h6, div.CartHead h6{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 4px solid hsla(204, 16%, 65%, 1);
    margin-bottom: 20px;
}

.Price{
    padding-left: 20px;
}

div.BookCover{
    position: relative;
}
h6.UserChioce, div.BookCover{
    width: 230px;
}
div.BookCover img{
    height: 111px;
    width: 83px;
    margin: 0 0 40px 10px;
}
div.BookCover img.CancelButton{
    height: 35px;
    width: 35px;
    position: absolute;
    top: -15px;
    left: -33px;
}

div.BookCover span{
    color: hsl(248, 53%, 58%);
    position: absolute;
    top: 15px;
    right: 2px;
}

div.CounterContainer {
    display: flex;
    justify-content: center;
}

div.number {
    height: 32px;
    width: 23px;
    display: flex;
    padding: 10px 0 0;
    justify-content: center;
    border: 1px solid hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 100%);
}

div.MinusButton, div.PlusButton{
    height: 32px;
    width: 17px;
    display: flex;
    padding: 10px 0 0;
    justify-content: center;
    border: 1px solid hsl(0, 0%, 0%);
    background-color: hsl(251, 47%, 76%);
}

div.MinusButton{
    border-right: none;
}

div.PlusButton{
    border-left: none;
}

div.Button{
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
}

div.Button button{
    font-size: 24px;
    font-weight: 600;
    padding: 10px;
}

div.VeritalLine{
    border-left: 3px solid hsla(248, 53%, 58%, 0.5);
}

div.Products div.Button div.white Button{
    background-color: white;
    color: hsl(248, 53%, 58%);
}

div.CartTotal{
    margin: 0 10px;
    padding: 0 10px;
}

div.CartTotal div.Button button{
    height: 49px;
    width: 516px;
}

div.CartHead h6{
    border: none;
}

div.CartItems div.SubItems{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(204, 16%, 65%);
}

p.detail{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

p.bill, div.CounterContainer, p.Price, div.BookCover span{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

footer{
    background-color: hsl(248, 53%, 58%);
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

footer div{
    margin: 10px 20px 20px;
    padding: 10px;
}

footer p.title{
    width: 300px;
    height: 36px;
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
}

footer p.Content{
    font-weight: 500;
    display: block;
}

footer div.SocialSection ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 150px;
    height: 30px;
}

footer div.SocialSection ul li img{
    height: 30px;
    margin: 0 2px;
}

footer div.ButtonSection button{
    background-color: hsl(0, 0%, 100%);
    color: hsl(248, 53%, 58%);
    font-size: 15px;
    font-weight: 600;
}